---
fullnameOverride: "argo-cd"
server:
  ingress:
    enabled: true
    hostname: argocd.jamf.fun
    tls: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
configs:
  params:
    server.insecure: true
  cm:
    exec.enabled: true
extraObjects:
  - apiVersion: argoproj.io/v1alpha1
    kind: AppProject
    metadata:
      name: default
      namespace: argo-cd
    spec:
      clusterResourceWhitelist:
      - group: '*'
        kind: '*'
      description: default project
      destinations:
      - namespace: '*'
        server: '*'
      orphanedResources:
        warn: true
      sourceRepos:
      - '*'
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: app-of-apps
      namespace: argo-cd
    spec:
      project: default
      source:
        repoURL: git@github.com:lukas-pastva/kt-eks-gitops.git
        path: charts/internal/app-of-apps
        targetRevision: main
        helm:
          valueFiles:
          - ../../../clusters/cluster-kt-ops-eks-1/applications.yaml
      destination:
        namespace: argo-cd
        name: in-cluster
